[i-hotel] {
}

[i-hotel-title] {
    font-weight: 700;
}

[i-hotel-distance]::before {
    content: "(";
}

[i-hotel-distance]::after {
    content: ")";
}

[i-hotel-price] {

}

[i-hotel-stars] {
    color: var(--c-gold);
}

[i-hotel-rating] {
}

[i-hotel-ratingTitle] {
}

[i-hotel-ratingNumber] {

}

[i-hotel-ratingVotes]::before {
    content: "(";
}

[i-hotel-ratingVotes]::after {
    content: ")";
}
