/*******************************************************************************
hotel
*******************************************************************************/

[i-hotel-title] {
    font-weight: 700;
}

[i-hotel-metaPart] {
    white-space: nowrap;
}

[i-hotel-metaPart] + [i-hotel-metaPart]::before {
    content: "\2014";
}

[i-hotel-price] {
    float: right;
    margin-left: calc(var(--s-leading) * 0.5);
    font-size: 200%;
    font-weight: 300;
}

[i-hotel-distance]::before {
    content: "(";
}

[i-hotel-distance]::after {
    content: ")";
}

[i-hotel-stars] {
    color: var(--c-gold);
}

[i-hotel-ratingVotes]::before {
    content: "(";
}

[i-hotel-ratingVotes]::after {
    content: ")";
}
