<tr i-filter ng-controller="filtersCostCtrl as cost">
    <th i-filter-name>Cost range:</th>

    <td>
        <input
            i-filter-rangeInput
            type="range"
            id="filtersCostMin"
            name="filtersCostMin"
            min="[[::cost.limitMin]]"
            max="[[::cost.limitMax]]"
            step="1"
            ng-model="cost.valueMin"
            ng-change="cost.dispatchValueDebounced()"
        >

        <label for="filtersCostMin">from</label>

        <output i-filter-rangeOutput ng-bind="cost.valueMin"></output>

        <br>

        <input
            i-filter-rangeInput
            type="range"
            id="filtersCostMax"
            name="filtersCostMax"
            min="[[::cost.limitMin]]"
            max="[[::cost.limitMax]]"
            step="1"
            ng-model="cost.valueMax"
            ng-change="cost.dispatchValueDebounced()"
        >

        <label for="filtersCostMax">to</label>

        <output i-filter-rangeOutput ng-bind="cost.valueMax"></output>
    </td>
</tr>
