<div i-filter ng-controller="filtersCostCtrl as cost">
    <label i-filter-label>Cost:</label>

    <div>
        <label i-filter-label for="filtersCostMin">from</label>

        <input
            type="range"
            id="filtersCostMin"
            name="filtersCostMin"
            min="[[::cost.limitMin]]"
            max="[[::cost.limitMax]]"
            step="1"
            ng-model="cost.valueMin"
            ng-change="cost.dispatchValueDebounced()"
        >

        <output ng-bind="cost.valueMin"></output>
    </div>

    <div>
        <label i-filter-label for="filtersCostMax">to</label>

        <input
            type="range"
            id="filtersCostMax"
            name="filtersCostMax"
            min="[[::cost.limitMin]]"
            max="[[::cost.limitMax]]"
            step="1"
            ng-model="cost.valueMax"
            ng-change="cost.dispatchValueDebounced()"
        >

        <output ng-bind="cost.valueMax"></output>
    </div>
</div>
