<div i-filter ng-controller="filtersHotelNameCtrl as hotelName">
    <label i-filter-label for="filtersHotelName">Name:</label>

    <input
        type="text"
        id="filtersHotelName"
        name="filtersHotelName"
        i-filter-textInput
        placeholder="Place name"
        ng-model="hotelName.value"
        ng-change="hotelName.dispatchValue()"
    >
</div>
