<div i-filter ng-controller="filtersHotelNameCtrl as hotelName">
    <label i-filter-label for="filterHotelName">Name:</label>

    <input
        type="text"
        id="filterHotelName"
        name="filterHotelName"
        i-filter-textInput
        placeholder="Place name"
        ng-model="hotelName.value"
        ng-change="hotelName.dispatchValue()"
    >
</div>
