<tr i-filter ng-controller="filtersHotelNameCtrl as hotelName">
    <th i-filter-name>
        <label for="filtersHotelName">Name:</label>
    </th>

    <td>
        <input
            i-filter-textInput
            i-filter-boxInput
            type="text"
            id="filtersHotelName"
            name="filtersHotelName"
            i-filter-textInput
            placeholder="Any"
            ng-model="hotelName.value"
            ng-change="hotelName.dispatchValue()"
        >
    </td>
</tr>
