<tr i-filter ng-controller="filtersRatingCtrl as rating">
    <th i-filter-name>
        <label for="filtersRating">Minimum rating:</label>
    </th>

    <td>
        <input
            i-filter-rangeInput
            type="range"
            id="filtersRating"
            name="filtersRating"
            min="[[::rating.limitMin]]"
            max="[[::rating.limitMax]]"
            step="0.1"
            ng-model="rating.value"
            ng-change="rating.dispatchValueDebounced()"
        >

        <output i-filter-rangeOutput ng-bind="rating.value"></output>
    </td>
</tr>
