<div ng-app="monstrousFilterererAppModule" i-area="medium">
    {% include hotelsModule/hotels.liquid %}

    <footer i-text="centered">
        <a href="{{site.rootSiteUrl}}">&larr;</a>
    </footer>
</div>
