<div ng-app="monstrousFilterererAppModule" i-area="medium">
    <script>
        window.hotelsData = {{ site.data.hotels | jsonify }};
    </script>
    {% include hotelsModule/hotels.liquid %}

    <footer i-text="centered">
        <a href="{{site.rootSiteUrl}}">&larr;</a>
    </footer>
</div>
