<div i-filters>
    <h2>Filter by:</h2>

    <!-- name -->
    <div i-filter>
        <label i-filter-label for="hotelsName">Name:</label>

        <input
            type="text"
            id="hotelsName"
            name="hotelsName"
            i-filter-textInput
            placeholder="Place name"
            ng-model="hotels.nameFilterValue"
        >
    </div>

    <!-- stars amount -->
    <div i-filter>
        <label i-filter-label for="hotelsStars">Stars amount:</label>

        <select
            i-filter-select
            id="hotelsStars"
            name="hotelsStars"
            ng-model="hotels.selectedStarsOption"
            ng-options="option.label for option in hotels.starsOptions"
        ></select>
    </div>

    <div>Stars</div>
    <div>TrpRating</div>
    <div>UserRating</div>
    <div>MinCost</div>

    <!-- sorting -->
    <div i-filter>
        <label i-filter-label for="hotelsSort">Sort by:</label>

        <select
            i-filter-select
            id="hotelsSort"
            name="hotelsSort"
            ng-model="hotels.selectedSortOption"
            ng-options="option.label for option in hotels.sortOptions"
        ></select>
    </div>
</div>
