<div
    i-card
    i-hotel
    ng-repeat="
        hotel in hotels.list
        | orderBy: hotels.currentSort.property : hotels.currentSort.propertyReverse
        | filter: hotels.matchHotel
        as filteredHotelsList
        track by ::hotel.EstablishmentId"
    ng-click="hotels.chooseHotel(hotel)"
>
    <div i-hotel-price>&pound;<span ng-bind="::hotel.MinCost"></span></div>

    <div>
        <span i-hotel-title ng-bind="::hotel.Name"></span>
        <span i-hotel-stars ng-bind="::hotel.Stars | humanizeStars"></span>
    </div>

    <div>
        <span i-hotel-metaPart>
            <span ng-bind="::hotel.EstablishmentType"></span>
            @
            <span ng-bind="::hotel.Location"></span>
            <span i-hotel-distance ng-bind="::hotel.Distance | humanizeDistance"></span>
        </span>

        <span i-hotel-metaPart>
            <span i-hotel-ratingTitle ng-bind="::hotel.UserRatingTitle"></span>

            <span
                i-hotel-ratingNumber
                ng-if="::hotel.UserRatingCount > 0"
                ng-bind="::hotel.UserRating"
            ></span>

            <span
                i-hotel-ratingVotes
                ng-if="::hotel.UserRatingCount > 0"
                ng-bind="::hotel.UserRatingCount | humanizeVotesCount"
            ></span>
        </span>
    </div>
</div>
