<div i-filters ng-cloak>
    {% include filtersModule/partials/hotelName.liquid %}
    {% include filtersModule/partials/stars.liquid %}
    {% include filtersModule/partials/cost.liquid %}
    {% include filtersModule/partials/rating.liquid %}
</div>
